.bg-rosa{
    background-color: #f4e7ca;
}
.bg-gris{
    background-color:#d29d80;
}
.border-morado{
    background-color:#ffffe2;
}
.h-200{
    height: 200px !important;
}
.bg-lila{
    background-color: #f4e7ca;
}
.bg-mor{
    background-color:#ddb699;
}
.bg-cf{
    background-color: #e9ceb1;
}
.img-huellitas{
    height: 60px !important;   
}
.table-width{
    width: 335px !important;
}
